<div class="bg-[#232323] flex flex-col border-solid border border-black max-w-[250px] w-full h-[300px] rounded-2xl p-3">
  <div class="title">
    <h3 class='text-center text-white'>{{ pokemon.name }}</h3>
  </div>
<!--  <div class="bg-[#616161] w-full mx-auto h-[70%] rounded">-->
<!--    <img [ngSrc]="pokemon.sprites.front_default" height='50' width='50' alt='pokemon' />-->
<!--  </div>-->
<!--  <div class='stats pt-2.5 flex flex-row items-center justify-center gap-1'>-->
<!--    @for(item of pokemon.types; track $index) {-->
<!--      <span class='p-1.5 bg-amber-700 font-bold text-black rounded'>{{ item.type.name }}</span>-->
<!--    }-->
<!--  </div>-->
</div>
