.wrapper1, .wrapper2 {
  width: 600px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.wrapper1 {
  height: 20px;
}

.wrapper2 {
  height: 600px;
}

.div1 {
  width: 1000px;
  height: 20px;
}

.div2 {
  width: 1000px;
  height: 600px;
  background-color: #88FF88;
  overflow: auto;
}

table {
  &::-webkit-scrollbar {
    height: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-clip: padding-box;
    background-color: var(--bs-primary);
  }
}
