.table-container {
  overflow-x: auto;
}

th:nth-child(-n + 3),
td:nth-child(-n + 3) {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #fff; /* Para garantir que as duas primeiras colunas permaneçam visíveis */
}
